* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: rgb(40, 148, 148);
}

svg {
    background-color: rgb(219, 254, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin-top: 80px;
}

svg #title {
    font-size: 40px;
}

svg #gdp-title {
    font-size: 18px;
}

.bar {
    fill: rgb(40, 148, 148);
}

.bar:hover {
    fill: rgb(219, 254, 255);
}

#tooltip {
    text-align: center;
    font-size: 15px;
    padding: 8px;
}
